body{ 
    background:
	radial-gradient(
		circle at bottom left,
		transparent 0,
		transparent 2em,
		beige 2em,
		beige 4em,
		transparent 4em,
		transparent 6em,
		khaki 6em,
		khaki 8em,
		transparent 8em,
		transparent 10em
	),
	radial-gradient(
		circle at top right,
		transparent 0,
		transparent 2em,
		beige 2em,
		beige 4em,
		transparent 4em,
		transparent 6em,
		khaki 6em,
		khaki 8em,
		transparent 8em,
		transparent 10em
	),
	radial-gradient(
		circle at top left,
		transparent 0,
		transparent 2em,
		navajowhite 2em,
		navajowhite 4em,
		transparent 4em,
		transparent 6em,
		peachpuff 6em,
		peachpuff 8em,
		transparent 8em,
		transparent 10em
	),
	radial-gradient(
		circle at bottom right,
		transparent 0,
		transparent 2em,
		palegoldenrod 2em,
		palegoldenrod 4em,
		transparent 4em,
		transparent 6em,
		peachpuff 6em,
		peachpuff 8em,
		transparent 8em,
		transparent 10em
	), blanchedalmond;
	
background-blend-mode: multiply;
background-size: 10em 10em;
background-position: 0 0, 0 0, 5em 5em, 5em 5em;}

h3{
    font-family:'Rubik Maps', system-ui;
    color:rgb(112, 35, 35);
    font-weight: 200;
    font-size:xx-large;
    text-align: center;
    margin-top: 60px;
}
h1{
    font: 698976cfa8; 
    font-size: xxx-large;
    text-align: center;
    color: rgb(151, 129, 129);
    text-shadow: 2px 2px red;}
.choices{
    display:flex;
    justify-content:center;
    align-items: center;

}
img{
    height: 140px;
    width: 140px;
    border-radius: 100px;
    margin: 10px;
    
}
#user,#comp{
    font-size: 3rem;
    text-align: center;
}

.score-board{
    display: flex;
    
    justify-content:center;
    font-size: 1.7rem;
    gap: 3rem;
    
}
.msg-container{
    text-align: center;
    
}
#msg{
    font-size: 2rem;
    display: inline;
    background-color: rgb(230, 100, 83);
    border-radius: 40px 40px ;
    padding:2px;
    font-family: monospace;
    box-shadow: 7px 5px 5px;

    
}
img:hover{
    opacity:0.5;
    cursor: grab;
}
